Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "ayush"

In [2]:
type(a)

str

In [3]:
b = [1,22,"laptop",2+4j,3.32]

In [4]:
type(b)

list

In [5]:
c = 3.148

In [6]:
type(c)

float

In [9]:
d = ('ayu')

In [10]:
type(d)

str

In [13]:
e = ('apple','banana','cherry')

In [14]:
type(e)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [15]:
var1 = ‘ ‘

SyntaxError: invalid character '‘' (U+2018) (4260740913.py, line 1)

In [16]:
var2 = ‘[ DS , ML , Python]’

SyntaxError: invalid character '‘' (U+2018) (4236947624.py, line 1)

In [23]:
 var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

SyntaxError: invalid character '‘' (U+2018) (3912615029.py, line 1)

var4 = 1.

In [21]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [27]:
# (i):- "/" operator is used for division of any two variables. It gives decimal as well as integer values.

a = 10
b = 6
c = 10/6 
print(c)

1.6666666666666667

In [33]:
# (ii):- "%" operator is also called as a modulo operator. It is used to get the remainder after division of any two numbers.

a = 10
b = 6
c = 10%6 
print(c)

4

# (iii):- "//" operator is a floor division. It is used division and it gives only integer values."

a = 10
b = 6
c = 10//6 
print(c)

In [35]:
# (iv):- "**" operator is used for getting exponential values.

a = 10
b = 6
c = 10**6 
print(c)

1000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [39]:
i = 10
my_list = [1,21,'ayush',True,3+4j,23,'one',[2,3],False,6]
for i in my_list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = 36
B = 4
division = 0
while A%B == 0:
    A = A/B
    division += 1
if division > 0:
    print(f"A is divisible by B {division} times")
else:
    print("A is not divisible")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
my_list = [1,21,422,34,52,122,123,90,84,789,876,900,312,4123,87,913,7899,315,30,85,67,2997,410,47,33]

for element in my_list:
    if element%3 == 0:
        print(f"{element} is divisible  by 3 ")
    else:
        print(f"{element} is not divisible")

1 is not divisible
21 is divisible  by 3
422 is not divisible
34 is not divisible
52 is not divisible
122 is not divisible
123 is divisible  by 3
90 is divisible  by 3
84 is divisible  by 3
789 is divisible  by 3
876 is divisible  by 3
900 is divisible  by 3
312 is divisible  by 3
4123 is not divisible
87 is divisible  by 3
913 is not divisible
7899 is divisible  by 3
315 is divisible  by 3
30 is divisible  by 3
85 is not divisible
67 is not divisible
2997 is divisible  by 3
410 is not divisible
47 is not divisible
33 is divisible  by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
# Mutable means those whose datatypes can be changed whereas immutable means those whose datatypes can not be changes

l = [1,42,"ayush",45,43,23,66]

In [8]:
type(l)

list

In [9]:
l

[1, 42, 'ayush', 45, 43, 23, 66]

In [10]:
l[3]

45

In [11]:
l[3] = 551

In [12]:
l

[1, 42, 'ayush', 551, 43, 23, 66]